{% extends "menu/header.html" %}
{% load staticfiles %}
{% block content %}
<div style="padding: 30px;">
	<div class="row">
		<div class="col-sm">
			<div class="card text-white bg-primary mb-3 shadow">
				<div class="card-header"><h2><span><img src="{% static 'img/svg/sun.svg' %}" class="responsive-img" style='height:30px;' alt="face"></span>  Sativas</h2></div>
				<ul id="sativas"></ul>
			</div>
		</div>
		<div class="col-sm">
				<div class="card text-white bg-success mb-3 shadow">
				<div class="card-header"><h2><span><img src="{% static 'img/svg/transfer.svg' %}" class="responsive-img" style='height:30px;' alt="face"></span>  Hybrids</h2></div>
				<ul id="hybrids"></ul>
			</div>
		</div>
			<div class="col-sm">
					<div class="card text-white bg-dark mb-3 shadow">
					<div class="card-header"><h2><span><img src="{% static 'img/svg/moon.svg' %}" class="responsive-img" style='height:30px;' alt="face"></span> Indicas</h2></div>
					<ul id="indicas"></ul>
				</div>
			</div>
	</div>

	<div class="row fixed-bottom">
		<button class="btn btn-secondary btn-lg btn-block">Welcome to The Portland Canna Connection<br><small>menu by xn</small></button>
	</div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/menu_ajax.js' %}"></script>
{% endblock %}